/*! SECTION INPUTS */

#EditSectionInfoContainer{
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 2 auto;
    grid-template-rows: 2 auto;
}

#sectionInput{
    grid-column: 1;
    grid-row: 1;
}

#itemIDInpute{
    grid-column: 2;
    grid-row: 1;
}

#orderIDInput{
    grid-column: 1;
    grid-row: 2;
}

#quantityInput{
    grid-column: 2;
    grid-row: 2;
}

.SectionInfo{
    color: white;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

/*! BOX INFO INPUTS */

#EditBoxInfoContainer{
    width: 90%;
    display: grid;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-template-areas:
        "position procedure"
        "description description";
}

.BoxInfoInput{
    color: white;
    display: grid;
    grid-template-rows: 2;
}

#positionInput{
    grid-area: position;
}

#procedureInput{
    grid-area: procedure;
}

#descriptionInput{
    grid-area: description;
}

/*! BUTTONS */

.button{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width: 90%
}

#viewButton{
    font-weight: bolder;
}

#addSectionButton{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightgreen;
}

/*! TABLE */

#Table{
    width: 85%;
    margin: auto;
}

.TableRow {
    border-radius: var(--border-radius-table);
    background-color: var(--text-bg-color);
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    height: var(--table-row-height);
    margin-bottom: var(--table-margin);
}

.rowInfo{
    color: rgb(255, 0, 0);
    margin: auto;
}

.headInfo{
    color: black;
    margin: auto;
}

.TableHead {
    border-radius: var(--border-radius-table);
    background-color: var(--table-header-color);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: var(--table-margin);
    height: var(--table-row-height);
}