/* VARS */
:root{
    --main-bg-color: #292929;
    --text-bg-color: #191919;
    --placeholder-color: #434343;
    --text-bg-outline-color: #706F6F;
    --table-header-color: #BFBFBF;

    --border-radius-table: 10px;
    --table-margin: 15px;
    --table-row-height: 35px;
}

/*! LOOKUPINPUT */
.lookup{
    display: grid;
    grid-template-columns: 60% 25%;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

#CodeInput{
    color: grey;
    background-color: var(--text-bg-color);
    border-radius: 3px;
    border-color: var(--text-bg-outline-color);
    border-radius: 10px;
}

#ButtonLookup{

}

/*! INFO */

#BoxInfo {
    width: 85%;
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
        "status quantity"
        "position procedure"
        "description description"
    ;
}

.TextInfo {
    width: 100%;
    color: white;
    background-color: var(--text-bg-color);
    border-radius: 5px;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 8px auto 8px auto;
}

#status {
    grid-area: status;
}

#quantity {
    grid-area: quantity;
}

#position {
    grid-area: position;
}

#procedure {
    grid-area: procedure;
}

#description {
    text-align: start;
    grid-area: description;
    height: fit-content;
}

/*! BUTTONS */

.MainButtons {
    width: 85%;
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

.ButtonMid {
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

#ButtonEdit {
    background-color: white;
}

#ButtonNew {
    background-color: green;
}

#ButtonClear {
    background-color: red;
}

/*! TABLE */

#Table{
    width: 85%;
    margin: auto;
}

.TableRow {
    border-radius: var(--border-radius-table);
    background-color: var(--text-bg-color);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: var(--table-row-height);
    margin-bottom: var(--table-margin);
}

.rowInfo{
    color: white;
    margin: auto;
}

.headInfo{
    color: black;
    margin: auto;
}

.TableHead {
    border-radius: var(--border-radius-table);
    background-color: var(--table-header-color);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: var(--table-margin);
    height: var(--table-row-height);
}